body{

    background-image: url(http://www.fondsecran.eu/a/get_photo/579568/1280/720);
}
*{
    background-size: cover;
    /* background: rgb(66, 64, 64); */
    /* background-color: rgba(248, 244, 244, 0.384); */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.carousel-container{
    width: 720px;
    margin: auto;
    /* position: relative; */
    overflow: hidden;
    /* border: 5px solid black; */
    
}
.carousel-slide{
            display: flex;
            width: 1000px;
            height: 500px;
            }
            #prevBtn{
                position: absolute;
                top: 400px;
                z-index: 10;
                left: 300px;
                font-size: 30px;
                color: orangered;
                /* opacity: 0.5; */
                cursor: pointer;
            }
            #nextBtn{
                position: absolute;
                top: 400px;
                z-index: 10;
                right: 300px;
                font-size: 30px;
                color: orangered;
                /* opacity: 0.5; */
                cursor: pointer;
            }
#Signature{
    color: orangered;
    position: absolute;
    right: 710px;
    top: 600px;
    font-size: 1.5.rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* /* background: aliceblue; */
    /* color: white; */
}
